---
import Layout from "../layouts/Layout.astro";
---

<Layout title="911 Massage">
  <main class="w-100 vh-100">
    <section
      id="content"
      class="w-100 h-100 flex justify-center items-center helvetica tc flex-column z-999 pv4"
    >
      <div class="b ttu white f3 self-start pl4 z-999">911 Massage</div>
      <div class="h-100 flex justify-center items-center">
        <div class="ph1 z-999">
          <div class="w-100 center">
            <div class="mw9">
              <svg viewBox="0 0 1">
                <path
                  id="curve"
                  fill="transparent"
                  d="M-35,130c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97"
                ></path>
                <text class="helvetica ttu f7 b" fill="white">
                  <textPath xlink:href="#curve" startOffset="91"
                    >Coming to Broward County in 2024</textPath
                  >
                </text>
              </svg>
            </div>
          </div>

          <h1 class="white ttu f3 f2-ns f1-l lh-title mv0 measure-narrow">
            Affordable massage therapy for first responders
          </h1>
          <p class="white lh-copy f5 f3-ns fw3 measure-narrow center mt2 pb3">
            Hey, Taylor here! While my website is still under construction, <strong
              >let's connect!</strong
            >
          </p>

          <button id="sign-up-button" class="br3 ba b--white b ttu mt3"
            >Sign me up</button
          >
        </div>
      </div>
    </section>
  </main>

  <div
    id="form-modal"
    class="w-100 vh-100 fixed top-0 z-999 justify-center helvetica dn"
  >
    <div
      id="modal-card"
      class="w-90 mw6 bg-white ba b--white br4 z-max pv3 overflow-scroll mv4"
    >
      <div class="flex justify-center items-center center w-90">
        <div class="center">
          <h2 class="f6 f4-ns lh-title tc">
            Thank you for your interest <br /> in my new business, 911 Massage!
          </h2>
          <p class="gray f6 lh-copy bb b--light-gray center pb4 w-90">
            Go ahead and fill out the little form below so I know it's OK to
            reach out to you in the future. <br /><br />

            <span>
              <em> All the best,</em><br />
              - Taylor
            </span>
          </p>
        </div>
      </div>

      <form
        name="sign-up"
        method="POST"
        class="center w-100 flex justify-center items-center pv2 mt3"
        data-netlify="true"
      >
        <div class="w-90">
          <!-- Full Name -->
          <div class="form-field pa2 br4 ba b--light-gray">
            <label class="silver f6 dib mb1" for="full-name">Full Name</label>
            <input
              class="w-100 h2 ba b--white"
              type="text"
              name="full-name"
              id="full-name"
              placeholder="e.g. Jacqueline Simmons"
            />
          </div>

          <!-- Email -->
          <div class="form-field pa2 br4 ba b--light-gray mt3">
            <label class="silver f6 dib mb1" for="full-name">Email</label>
            <input
              class="w-100 h2 ba b--white"
              type="email"
              name="email"
              id="email"
              placeholder="jsimmons@example.com"
            />
          </div>

          <!-- Occupation -->
          <div class="form-field pa2 br4 ba b--light-gray mt3">
            <label class="silver f6 dib mb1" for="occupation">Occupation</label>
            <select
              class="w-100 h2 ba b--white"
              name="occupation"
              id="occupation"
            >
              <option value="">Please select an option</option>
              <option value="leo">Police Officer</option>
              <option value="firefighter">Firefighter</option>
              <option value="nurse">Nurse</option>
            </select>
          </div>

          <!-- Phone Number -->
          <div class="form-field pa2 br4 ba b--light-gray mt3">
            <label class="silver f6 dib mb1" for="phone">Phone Number</label>
            <input
              class="w-100 h2 ba b--white"
              type="tel"
              name="phone"
              id="phone"
              placeholder="(954) 123-4567"
            />
          </div>

          <input
            class="w-100 mt4 br4 ba b--white ttu b white"
            type="submit"
            value="Sign up"
          />
        </div>
      </form>
    </div>
  </div>
</Layout>

<style>
  h1 {
    max-width: 900px;
  }

  button {
    width: 140px;
    height: 40px;
    color: var(--brand-red);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }

  button:active {
    width: 140px;
    height: 40px;
    color: var(--brand-red);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }

  #content {
    background-image: url("../images/teaser-bg-image.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #content::after,
  #content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-red);
    opacity: 0.4;
  }

  svg {
    max-width: 18em;
    height: 70px;
  }

  #form-modal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
  }

  input::placeholder {
    color: lightgray;
  }

  input[type="submit"] {
    background-color: var(--brand-red);
    height: 50px;
  }

  input:focus-visible {
    border-color: var(--brand-red);
    outline: var(--brand-red);
    border: 2px solid var(--brand-red);
  }

  #modal-card {
    max-height: 730px;
  }
</style>

<script is:inline src="/form-modal.js"></script>
